.transaction-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr 1fr 1fr;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  transition: background-color 0.5s ease;
}

.transaction-item__date {
  background-color: inherit;
}

.transaction-item__note {
  color: black;
  text-align: left;
}

.transaction-item__account {
  color: grey;
  text-align: left;
}

.transaction-item__category {
  background-color: inherit;
}

.transaction-item__sub-category {
  color: grey;
  text-align: left;
}

.transaction-item__amount {
  font-weight: bold;
  color: var(--color1);
  text-align: right;
  padding-right: 1rem;
}

.expense {
  color: #b8001f;
}

.income {
  color: #117554;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

[data-title]:hover::after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: var(--color3);
  color: #111;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 3px;
}
[data-title] {
  position: relative;
}

.user-action:hover {
  cursor: pointer;
  color: var(--color1);
}
