.transaction-item {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr 2fr 1fr;
  padding: 5px 10px;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  transition: background-color 0.5s ease;
}

.transaction-item:hover {
  color: black;
  background-color: var(--color3);
  border-radius: 5px;
  cursor: pointer;
}

.transaction-item__date {
  background-color: inherit;
}

.transaction-item__note {
  color: black;
  text-align: left;
}

.transaction-item__account {
  color: grey;
  text-align: left;
}

.transaction-item__category {
  background-color: inherit;
}

.transaction-item__sub-category {
  color: grey;
  text-align: left;
}

.transaction-item__amount {
  font-weight: bold;
  color: var(--color1);
  text-align: right;
  padding-right: 1rem;
}

.expense {
  color: #b8001f;
}

.income {
  color: #117554;
}
