.nav-bar {
  width: 100vw;
  background-color: var(--color2);
  color: black;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 2rem 3rem;
}

.nav-bar header a {
  text-decoration: none;
}

.header__buttons {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.header__button {
  border: none;
  padding: 0.25rem;
  color: black;
  background-color: var(--color2);
}

.header__button:hover {
  color: blue;
  cursor: pointer;
}
[data-title]:hover::after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}
[data-title]:after {
  content: attr(data-title);
  background-color: var(--color3);
  color: #111;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: 1.6em;
  left: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 3px;
}
[data-title] {
  position: relative;
}
